#gamearea {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
}

#left-zone .ship {
    background-color: blue;
}

#right-zone .ship {
    background-color: red;
}

#left-zone,
#right-zone {
    margin: 2rem;
}

.row {
    display:flex;
}

.tile {
    height: 100%;
    width: 100%;
    padding: 1rem;
    flex:1;
}

button {
    padding: 0;
    margin: 0;
    
}